<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <sessionState timeout="120"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <!--<add key="DB" value="Data Source =TNSAN02TDE004\MSSQL; Initial Catalog = Helpdesk;User Id=Automatizacion;password=Auto_4dm1n; Integrated Security = True;Trusted_Connection=True" />-->
    <add key="DB" value="data source=10.20.168.221;initial catalog=Helpdesk;persist security info=True;user id=sa;password=auto_4dm1n;MultipleActiveResultSets=True;Integrated Security = True;Trusted_Connection=false"/>
    <add key="log" value="C:\SGS\Temp_help"/>
    <add key="direcc" value="C:\AutoWorkDir\Sites\Helpdesk_Auto\Archivos"/>
  </appSettings>
</configuration>